<?xml version="1.0"?>

<model>
  <name>Final version of maquette and support model for PARME project</name>
  <version>1.0</version>
  <sdf version="1.6">maquette_vf.sdf</sdf>

  <author>
    <name>Glênio</name>
    <email>gleniosimiao.ramalho@toulouse-inp.fr</email>
  </author>
  
  <description>
    One of the CAD models used for PARME project
  </description>
</model>