<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <joint name="imu_joint" type="fixed">
    <origin rpy="0 3.141592653589793 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="1.67e-8" ixy="0" ixz="0" iyy="1.67e-8" iyz="0" izz="1.67e-8"/>
    </inertial>
  </link>

  <gazebo reference="imu_link">
    <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system">
      <ros>
        <remapping>imu:=/imu</remapping>
      </ros>
      <frame_id>base_link</frame_id>
      <update_rate>200</update_rate>
      <always_on>true</always_on>
      <visualize>true</visualize>
      <orientation_reference_frame>world</orientation_reference_frame>
      <noise>
        <angular_velocity>
          <mean>0.0</mean>
          <stddev>0.0</stddev>
        </angular_velocity>
        <linear_acceleration>
          <mean>0.0</mean>
          <stddev>0.0</stddev>
        </linear_acceleration>
      </noise>
    </plugin>
  </gazebo>

</robot>
