<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="lidar_base_offset_z" default="1"/>

    <xacro:include filename="base_core.xacro" />

    <xacro:include filename="../lidar.xacro"/>

    <xacro:include filename="../imu.xacro" />
    
</robot>